
<div class="footer">
    <div style="margin-top: 10vh;padding-top: 5vh;" class="footerA">
    
        <div> <i class="fa-brands fa-linkedin fa-2x"></i><a href="https://www.linkedin.com/in/harikrishnan-mohanan-32283379">Linkedin </a></div>
        <div> <i class="fa-brands fa-github fa-2x"></i><a href="">Git</a></div>
        <div> <i class="fa-brands fa-instagram fa-2x"></i><a href="https://instagram.com/harys_stories?igshid=NmQ2ZmYxZjA=">Instagram</a></div>  
        
    </div>
    <br> <br>
    <div style="    display: flex;justify-content: space-evenly;text-align: center;">
      <span>&copy;Developed by Hari</span>

    </div>  
  </div>


