
<nav style="background-color: rgba(31, 24, 17, 0.653);" class="navbar ">
    <div class="container-fluid">
    <div>
        <a class="navbar-brand" routerLink="">
            
            <span class="fw-bolder ms-3" ><i class="fa-solid fa-film"></i>  OMDb <i class="fa-duotone fa-m"></i>ovies</span>
        </a>
    </div>
      <div>
        <a aria-label="" href="https://wa.me/9567983916">
          <i class="fa-brands fa-whatsapp fa-2x" style="color: #04f500;"></i></a>

        
      </div>
        
    </div>
    
  
  </nav>

