@media (max-width:896px){
    body{
        width: 100%;
        
    }
    header{
        width: 100%;
    }
    footer{
        width: 100%;
    }
}
body{
    overflow: hidden;
    height: 100vh;
    width: 95vw;
    display: flexbox;
}
html{
    height: 100vh;
}
